<%= render 'shared/content_title', title: "All Posts" %>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
<% else %>
  <h3>No Posts</h3>
<% end %>